//variables


$lightGray:#f8f9fd;
$theBlue:#3979D9;
$darkGray:#404040;

$desktop:1200px;
$mediumDvice:1140px;
$smallDvice:768px;


// $tinyDevice:646px;
// $verySmallDevice:535px;
// $veryTinyDevice:379px;


// @mixin veryTinyDivice {
//     @media (max-width:#{$veryTinyDevice}){
//         @content;
//     }
// }

// @mixin verySmallDevice{
//     @media (max-width: #{$verySmallDevice}){
//         @content;
//     }
// }

// @mixin tinyDevice {
//     @media (max-width: #{$tinyDevice}){
//         @content;
//     }  
// }

@mixin smallDevice{
    @media (max-width: #{$smallDvice}){
        @content;
    }
}

@mixin mediumDevice{
    @media (max-width: #{$mediumDvice}){
        @content;
    }
}

@mixin desktop{
    @media (max-width: #{$desktop}){
        @content;
    }
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    // width: 100vw;
    direction: rtl;
    background-color: $lightGray;
    font-family: Vazir FD !important;
    min-width: 320px !important;
    overflow-x: hidden;
    
}
.jump:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
//---------------------header---------------------------
header{
    section{

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        
    }
    .navbar{
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-top: 20px;
        width: 1010px;
        justify-content: space-between;
        height: 84px;
        .logo{
            width:115px;
            padding-bottom: 20px;
        }
        .menu{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 72%;
            margin-bottom: 20px;
            .menu-link{
                padding: 13px 15px;
                color:$darkGray;
                text-decoration: none;
                transition: .4s;
                font-size: 14px;
                font-weight: 500;
            }
            .menu-link:hover{
                color:$theBlue;
            }
        }
        .btn{
            margin-bottom: 20px;
            transition: all ease .3s;
            .download{
                background-color:$theBlue;
                border-radius: 100px;
                font-size: 14px;
                transition: all ease .3s;
                display: flex;
                color: white;
                align-items: center;
                padding-right: 10px;
                height: 35px;
                width: 130px;
                p{
                    padding-right: 5px;
                }
                svg{
                    margin-top: 5px;
                }
            }
        }

    
    }
}

//---------------------------------main------------------------------------------------



///////////////////////tehran pic
.tehran{
    background-image: url(../image/tehran.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
    margin-top: 84px;
    @include smallDevice{ 
        background-image: url(../image/tehransmall.jpg);
    }
    .tehran-text{
        width: 71.5%;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 44px ;
        color: #262626;
        font-family: peyda;
        font-weight: 900;
        line-height: 48px;
        padding-top: 180px;
        padding-right: 70px;
        @include smallDevice(){
            font-size: 25px !important;
            line-height: 46px;
            padding: 65% 22% 0 0 !important;
            
        }
    }
}

//////////////////////main1

.m1{
    display: flex;
    align-items: center;
    margin-top: 20px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    @include smallDevice(){
        flex-direction: column;
    }
    
    .m1-img{
        margin: 10px;
        width: 50%;
        @include smallDevice(){
            display: flex;
            justify-content: center;
            width: 100%;
        }
        img{
            float: left;
            padding-left: 40px;
            @include smallDevice(){
                padding: 0;
                width: 62%;
                height: auto;
                padding-top: 40px;
            }
        
        
        }
    }
    .m1-text{
        margin: 10px;
        width: 50%;
        @include smallDevice {
            width: 98%;
            text-align: center;
            
        }
        h1{
            margin-bottom: 20px;
            color: #000000;
            font-size: 32px;
            font-weight: 800;
            font-family: peyda;
            @include smallDevice(){
                font-size: 28px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            @include smallDevice(){
                font-size: 14px;
            }
        
        }
        .btn{
            background-color:$theBlue;
            border-radius: 100px;
            transition: all ease .3s;
            height: 50px;
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include smallDevice(){
                margin-left: auto;
                margin-right: auto;
            }
            a{
                text-decoration: none;
                display: flex;
                color: white;
                padding-top: 5px;
                p{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    .m1-btn{
        margin-top: 40px;
    }
}


////////////////////////main2
.main2 {   
    width: 100vw;
    height: auto;  
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: peyda;
        font-weight: 900;
    }
    .blue-container {
        max-width: 1140px;
        background-color: $theBlue;
        border-radius: 20px;
        padding:0 90px;
        position: relative;
        height: auto;
        // width: 100%;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: repeat(3, 1fr);
        gap: 50px 2vw;
        grid-template-areas:
        "pic1 text1"
        "text2 pic2"
        "pic3 text3";
 
        @include smallDevice(){
            margin-top:150px;
            padding: 0;
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
            "pic1"
            "text1"
            "pic2"
            "text2"
            "pic3"
            "text3";
        }
        .b-item{
            // width: 357px;
            // height: 357px;
            width: 80%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -90px auto 100px;     

            @include smallDevice(){
                margin-bottom: 0;
            }
        }
    }
       
    .b-images {
        width: 357px !important;
        height: 357px !important;
        border-radius: 30px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;

        @include smallDevice(){
            width: 90vw !important;
            height: 90vw !important;
            margin:-100px auto 0;
        }


            h2 {
                color: #000000;
                font-size: 22px;
                font-weight: 900;
                font-family: peyda;
                position: absolute;
                bottom: 20px;
                right: 20px;

                @include smallDevice(){
                    position: absolute;
                    bottom: 20px;
                    right: auto;
                    left: auto;
                }
                }
                
        }                  
        .b-text {
            // width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: right !important;

            @include smallDevice(){
                font-size: 15px !important;
            }
            h2 {
                font-family: peyda;
                color: #FFFFFF;
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 15px;
                text-align: center !important;
            }
            p {
                color: $lightGray;
                @include smallDevice(){
                    text-align: center;
                    font-size: 15px !important;
                } 
            }
            
        }
        .b-text1{
            grid-area:"text1";
            @include smallDevice(){
                grid-area: "text1";
                order: 1;
            }
        }
        .b-text2{
            grid-area: "text2";
            @include smallDevice(){
                grid-area: "text2";
                order: 3;
            }
        }
        .b-text3{
            grid-area: "text3";
            @include smallDevice(){
                grid-area: "text3";
                order: 5;
            }
        }
        .b-image1 {
            background-image: url("../image/image-4.png");
            grid-area: "pic1"; 
            @include smallDevice(){
                order: 0;
                grid-area: "pic1";
            }
        }
        
        .b-image2 {
            background-image: url("../image/image-5.png");
            grid-area: "pic2"; 
            @include smallDevice(){
                grid-area: "pic2";
                order: 2;
            }
        }
        .b-image3 {
            background-image: url("../image/image-6.png");
            grid-area: "pic3"; 
            @include smallDevice(){
                order: 4;
                grid-area: "pic3";
            }
        }
}
    
        

//////grey
.grey-container{
    width: 1092px;
    position: relative;
    max-width: 1092px;
    height: 207.6px;
    background-color: $darkGray;
    border-radius: 17px;
    margin: 110px auto 0  ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include smallDevice(){
        max-width: 98%;
        margin: 110px  auto 50px;
    }
    @include mediumDevice(){
        max-width: 97%;
    }
}
.grey-content{
    width: 100%;
    height: 121.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right !important;
    padding: 0 50px;

    .g-search-section{
        display: flex;
        justify-content: space-between;
        height: 68px;
        align-items: center;
        margin-top: 5px;
        @include smallDevice(){
            flex-direction: column;
            padding :15px 20px;
            height: 140px;
        }
    }
    .grey-text{
        h2{
            font-family: peyda;
            color: #FFFFFF;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 2px;
            @include smallDevice(){
                font-size: 16px;
                text-align: center;
            }
        }
    }
    .search-box{
        background-color: #FFFFFF;
        width: 676px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid grey;
        border-radius:  30px;
        padding: 0 20px;
        margin: 2px 0 2px 5%; 
        @include smallDevice(){
            max-width: 81%;
        }
        span{
            text-align: center;
            color: #BBBBBB;
            @include smallDevice(){
                padding: 8px 0;
                overflow: hidden;

            }
        }
        .search-icon{
            width: 17px;
            color: #404040;
        }
    }
    .icon-box{
        width: 260px;
        display: flex;
        justify-content: space-around;

        @include smallDevice(){
            width: 100%;
            margin: 20px 10px;
        }
        .icon-service{
            width: 48px;
            height: 48px;
            transition: 0.3s;
            background-color: $darkGray;
            border-radius: 50%;
            @include smallDevice(){
                width: 38px;
                height: 38px;
            }
        }
        .icon-service:hover{
            background-color: $theBlue;
            border-radius: 50%;
        }
    }
}
///////////pic section
.pic-container{
    width: 1140px;
    max-width: 1140px;
    height: 178px;
    margin: 80px 0 150px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 17px;


    @include smallDevice(){
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include mediumDevice(){
        max-width: 100%;
    }
    .txt-btn {
        display: flex;
        flex-direction: column;
        padding-left:8vw;

        @include smallDevice(){
            max-width: 100%;
            padding-left:10vw;
        }
    
        h2{
            font-family: peyda;
            color: #000000;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 20px;
            
            @include smallDevice(){
                font-size: 18px;
            }
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 105px;
            height: 40px;
            border-radius: 20px;
            border:2px solid #4E7FEA;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            fill: #000000;
            color: #000000;
            background-color: #FFFFFF;
            border-style: solid;
            transition: all ease .3s;
        }
        .btn-arrow{
            color: #4E7FEA;
            width: 18px;
            margin-right: 15px;
        }
    }
}
.methods , .developers{
    display: flex;
    align-items: center;
    padding:0 25px 0 50px;
    justify-content: space-between;
    background-color: #f2f4fb;
    border-radius: 16px;

    
}
.methods{
    width: 50%;
    height: 178px;

    @include smallDevice(){
        width: 100%;
        margin-bottom: 20px;
    }
    .hands{
        width: 123px;
        height: 134px;
    }
}
.developers{
    // width: 448px;
    width: 48%;
    height: 178px;
    @include smallDevice(){
        width: 100%;
    }
    .box{
        width: 133px;
        height: 135px;

        
    }
}

////////////////////////karzar
.karzar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: sticky;
    bottom: 0;
    z-index: 99;
    background-color:#222222;
    padding:15px 10px;
    color: #FFFFFF;
    
    div{
        display: flex;
        align-items: center;
        @include smallDevice{
            width: 100%;
            justify-content: space-between;
        }
    }
    p{
        @include smallDevice{
            font-size: 13px;
            max-width: 65%;
        }
    }
    
    a{
        margin-right: 20px;
        text-decoration: none;
        background-color: #FFFFFF;
        color: $theBlue;
        border-radius: 10px;
        padding: 3.5px 15px;
        @include smallDevice{
            font-size: 13px;
            padding:2.5px 7px;
        }
    }
}
/*****************************************footer********************/
.footer-container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
        @include smallDevice(){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            width: 100vw;
            font-size: 12px;
            margin-top: 30px;
            padding-right: 10px;


        }
    .f1{
        padding-right: 10px;
        width: 25%;
        padding-right: 20px;
        @include smallDevice(){
            grid-area: 1 / 1 / 2 / 2;
        }
        li{
            list-style: none;
            padding: 6px 0px;
            color: $darkGray;
        }
    }
    
    .f2{
        width: 25%;
        padding-right: 20px;
        @include smallDevice(){
            width: 50%;
            grid-area: 1 / 2 / 2 / 3;
        }
        li{
            list-style: none;
            padding: 6px 0px;
            color: $darkGray;
        }
    }
    .f3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 300px;
        padding-right: 10px;
        @include smallDevice(){
            grid-area: 2 / 1 / 3 / 3;
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        .address{
            color: #404040;
            @include smallDevice(){
                width: 100vw;
                margin-top: 10px;
                font-size: 10px;
            }
        }
        .f3-links{
            @include smallDevice(){
                display: flex;
                align-items: center;
                width: 98vw;
                justify-content: space-around;
            }
        }
        .f3-2{
            margin-top: 25px;
            @include smallDevice(){
                width: 50%;
                margin:0;
                padding: 0;
            }
        }
        .f3-3{
            margin-top: 10px;
            @include smallDevice(){
                width: 50%;
                margin:0;
                padding: 0;
            }
        }
        .telegram , .mail {
            span{
                position: relative;
                top: 3px;
            }
         }
    }
    .f4{
        background-color: #EFF1FA;
        margin-right: 30px;
        border-radius: 15px;
        position:relative;
        width: 260px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        padding-right: 10px;
        @include smallDevice(){
            width: 100%;
            grid-area: 3 / 1 / 4 / 3;
            height: 180px;
            flex-direction: column;
            margin-top: 30px;
            margin-right: 0;
            width: 94%;
        }
        img{
            bottom: 65px;
            position:absolute;
            z-index: 134;
            @include smallDevice(){
                left: 0;
                height: 80%;
                bottom: auto;
            }
        }
        p{
            font-family: 'peyda';
            color: #4A529E;
            max-width: 165px;
            bottom: 8px;
            position: absolute;
            font-size: 18px;
            text-align: center;
            line-height: 2;
            @include smallDevice(){
                bottom: auto;
                left: 160px;
                font-weight: 900;
            }
        }
    
    }
    a{
        text-decoration: none;
        color: black;
    }
    h4{
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
    }

    li:hover{
        color: #000;
        cursor: pointer;
    }
    
}
.footer-p{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 14px;
    font-weight: 500;
    span{
        color: $theBlue;
    }
    @include smallDevice(){
        font-size: 8px;
    }
    span:hover{
        color:$darkGray;
        cursor: pointer;
    }
}














/**************************font*****************/
@font-face {
    font-family: Vazir FD;
    font-weight: normal;
    src: url("../fonts/Vazir-FD.woff2") format("woff2");
}

@font-face {
    font-family: Vazir FD;
    font-weight: bold;
    src: url("../fonts/Vazir-Bold-FD.woff2") format("woff2"),
}

@font-face {
    font-family: Vazir FD;
    font-weight: 300;
    src: url("../fonts/") format("woff2"),

}

@font-face {
    font-family: Vazir FD;
    font-weight: 500;
    src: url("../fonts/Vazir-Medium-FD.woff2") format("woff2");
}

@font-face {
    font-family: Vazir FD;
    font-weight: 900;
    src: url("../fonts/Vazir-Black-FD.woff2") format("woff2");
}


@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/PeydaWeb-Black.woff2") format("woff2");
}

@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/PeydaWeb-Bold.woff2") format("woff2");
}

