* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  background-color: #f8f9fd;
  font-family: Vazir FD !important;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}

header .navbar {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  width: 71.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84px;
}

header .navbar .logo {
  width: 115px;
  padding-bottom: 20px;
}

header .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 72%;
  margin-bottom: 20px;
}

header .navbar .menu .menu-link {
  padding: 13px 15px;
  color: #404040;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 14px;
  font-weight: 500;
}

header .navbar .menu .menu-link:hover {
  color: #3979D9;
}

header .navbar .btn {
  margin-bottom: 20px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

header .navbar .btn .download {
  background-color: #3979D9;
  border-radius: 100px;
  font-size: 14px;
  padding: 8px 13px 10px 23px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .btn span {
  padding-top: 5px;
  margin-left: 7px;
}

.tehran {
  background-image: url(../image/tehran.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
  margin-top: 84px;
}

.tehran .tehran-text {
  width: 71.5%;
  margin-left: auto;
  margin-right: auto;
}

.tehran h1 {
  font-size: 44px;
  color: #262626;
  font-family: peyda;
  font-weight: 900;
  line-height: 48px;
  padding-top: 180px;
  padding-right: 70px;
}

.m1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.m1 .m1-img {
  margin: 10px;
  width: 50%;
}

.m1 .m1-img img {
  float: left;
  padding-left: 40px;
}

.m1 .m1-text {
  margin: 10px;
  width: 50%;
}

.m1 .m1-text h1 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 32px;
  font-weight: 800;
  font-family: peyda;
}

.m1 .m1-text p {
  font-size: 16px;
  font-weight: 400;
}

.m1 .m1-text .btn {
  background-color: #3979D9;
  border-radius: 100px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  height: 45px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m1 .m1-text .btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding-top: 5px;
}

.m1 .m1-btn {
  margin-top: 40px;
}

.main2, .main3 {
  /* + main3*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main2 h2 {
  font-family: peyda;
  font-weight: 900;
}

.main2 .blue-container {
  background-color: #3979D9;
  border-radius: 30px;
  width: 1140px;
  height: 1171.45px;
  margin-top: 70px;
  position: relative;
}

.main2 .b-content {
  width: 100%;
  height: 1171.45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -55px;
}

.main2 .b-content .b-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main2 .b-content .b-images {
  width: 357px;
  height: 357px;
  position: relative;
}

.main2 .b-content .b-images h2 {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  font-family: peyda;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.main2 .b-content .b-text {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.main2 .b-content .b-text h2 {
  font-family: peyda;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
}

.main2 .b-content .b-text p {
  color: #f8f9fd;
}

.main2 .b-content .b-image1 {
  background-image: url("../image/image-4.png");
}

.main2 .b-content .b-image2 {
  background-image: url("../image/image-5.png");
  width: 357px;
  height: 357px;
}

.main2 .b-content .b-image3 {
  background-image: url("../image/image-6.png");
  width: 357px;
  height: 357px;
}

.main3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grey-container {
  width: 1092px;
  height: 207.6px;
  background-color: #404040;
  border-radius: 17px;
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.grey-content {
  width: 1002px;
  height: 121.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right !important;
}

.grey-content .g-search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grey-content .grey-text h2 {
  font-family: peyda;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grey-content .search-box {
  background-color: #FFFFFF;
  width: 676px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 0 20px;
}

.grey-content .search-box span {
  text-align: center;
  color: #BBBBBB;
}

.grey-content .search-box .search-icon {
  width: 17px;
  color: #404040;
}

.grey-content .icon-box {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grey-content .icon-box .icon-service {
  width: 48px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #404040;
  border-radius: 50%;
}

.grey-content .icon-box .icon-service:hover {
  background-color: #3979D9;
  border-radius: 50%;
}

.pic-container {
  width: 1140px;
  height: 178px;
  margin: 80px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17px;
}

.pic-container .txt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pic-container .txt-btn h2 {
  font-family: peyda;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pic-container .txt-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #4E7FEA;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  fill: #000000;
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
}

.pic-container .txt-btn .btn-arrow {
  color: #4E7FEA;
  width: 18px;
  margin-right: 15px;
}

.methods, .developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f4fb;
  border-radius: 16px;
}

.methods {
  width: 586px;
  height: 178px;
}

.methods .hands {
  width: 123px;
  height: 134px;
}

.developers {
  width: 448px;
  height: 178px;
}

.developers .box {
  width: 133px;
  height: 135px;
}

.karzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 99;
  background-color: #222222;
  height: 60px;
  color: #FFFFFF;
}

.karzar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.karzar a {
  margin-right: 20px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3979D9;
  border-radius: 10px;
  padding: 3.5px 15px;
}

/*****************************************footer********************/
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.footer-container .f1 {
  padding-right: 10px;
  width: 25%;
}

.footer-container .f1 li {
  list-style: none;
  padding: 6px 0px;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
}

.footer-container .f2 {
  width: 25%;
  padding-right: 20px;
}

.footer-container .f2 li {
  list-style: none;
  padding: 6px 0px;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
}

.footer-container .f3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 300px;
  padding-right: 10px;
}

.footer-container .f3 .address {
  color: #404040;
}

.footer-container .f3 .f3-2 {
  margin-top: 25px;
}

.footer-container .f3 .f3-3 {
  margin-top: 10px;
}

.footer-container .f3 .telegram span, .footer-container .f3 .mail span {
  position: relative;
  top: 3px;
}

.footer-container .f4 {
  background-color: #EFF1FA;
  margin-right: 30px;
  border-radius: 15px;
  position: relative;
  width: 260px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  padding-right: 10px;
}

.footer-container .f4 img {
  bottom: 65px;
  position: absolute;
  z-index: 134;
}

.footer-container .f4 p {
  font-family: 'peyda';
  color: #4A529E;
  max-width: 165px;
  bottom: 8px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.footer-container h4 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.footer-p {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 500;
}

.footer-p span {
  color: #3979D9;
}

/**************************font*****************/
@font-face {
  font-family: Vazir FD;
  font-weight: normal;
  src: url("../fonts/Vazir-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: bold;
  src: url("../fonts/Vazir-Bold-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 300;
  src: url("../fonts/") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 500;
  src: url("../fonts/Vazir-Medium-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 900;
  src: url("../fonts/Vazir-Black-FD.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PeydaWeb-Black.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/PeydaWeb-Bold.woff2") format("woff2");
}
/*# sourceMappingURL=main.css.map */