/**************************font*****************/

@font-face {
    font-family: Vazir FD;
    font-weight: normal;
    src: url("./fonts/Vazir-FD.woff2") format("woff2");
}

@font-face {
    font-family: Vazir FD;
    font-weight: bold;
    src: url("./fonts/Vazir-Bold-FD.woff2") format("woff2"),
}

@font-face {
    font-family: Vazir FD;
    font-weight: 300;
    src: url("./fonts/") format("woff2"),
}

@font-face {
    font-family: Vazir FD;
    font-weight: 500;
    src: url("./fonts/Vazir-Medium-FD.woff2") format("woff2");
}

@font-face {
    font-family: Vazir FD;
    font-weight: 900;
    src: url("./fonts/Vazir-Black-FD.woff2") format("woff2");
}

@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/PeydaWeb-Black.woff2") format("woff2");
}

@font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/PeydaWeb-Bold.woff2") format("woff2");
}


/*******************body************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    background-color: #f8f9fd;
    font-family: Vazir FD !important;
}


/**********************************header*****************************/

header section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 71.5%;
    justify-content: space-between;
    height: 84px;
}

.logo {
    width: 115px;
    padding-bottom: 20px;
}

.download {
    background-color: #3979D9;
    border-radius: 100px;
    font-size: 14px;
    padding: 8px 13px 10px 23px;
    transition: all ease .3s;
    height: 35px;
    display: flex;
    color: white;
    align-items: center;
}

header .btn {
    margin-bottom: 20px;
    transition: all ease .3s;
}

header .btn span {
    padding-top: 5px;
    margin-left: 7px;
}

.jump:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 72%;
    margin-bottom: 20px;
}

.menu-link {
    padding: 13px 15px;
    color: #464646;
    text-decoration: none;
    transition: .4s;
    font-size: 14px;
    font-weight: 500;
}

.menu-link:hover {
    color: #3979D9;
}

.tehran {
    background-image: url(./image/tehran.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 611px;
    margin-top: 84px;
}

.tehran h1 {
    width: 25%;
    font-size: 44px;
    margin-right: 280px;
    padding-top: 160px;
    color: #262626;
    font-family: peyda;
    font-weight: 900;
    line-height: 48px;
}

.m1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.m1-img {
    margin: 10px;
    width: 50%;
}

.m1-img img {
    float: left;
    padding-left: 40px;
}

.m1-text {
    margin: 10px;
    width: 50%;
}

.m1-text h1 {
    margin-bottom: 20px;
    color: #000000;
    font-size: 32px;
    font-weight: 800;
    font-family: peyda;
}

.m1-text p {
    font-size: 16px;
    font-weight: 400;
}

.m1-btn {
    margin-top: 40px;
}

.m1-text .btn {
    background-color: #3979D9;
    border-radius: 100px;
    transition: all ease .3s;
    height: 45px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m1-text .btn a {
    text-decoration: none;
    display: flex;
    color: white;
    padding-top: 5px;
}


/* ---------main2------ */

.main2 , .main3 {        /* + main3*/
    width: 100%;
    background-color: #f8f9fd;
    display: flex;
    justify-content: center;
}

.main h2 {
    font-family: peyda;
    font-weight: 900;
}

.blue-container {
    background-color: rgb(57, 121, 217);
    border-radius: 30px;
    width: 1140px;
    height: 1171.45px;
    margin-top: 70px;
    position: relative;
}

.b-content {
    width: 1140px;
    height: 1171.45px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -55px
}

.b-section {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.b-images {
    width: 357px;
    height: 357px;
    position: relative;
}

.b-images h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 900;
    font-family: peyda;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.b-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.b-text h2 {
    font-family: peyda;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;
}

.b-text p {
    color: rgba(255, 255, 255, 0.75);
}

.b-image1 {
    background-image: url("/image/image-4.png");
}

.b-image2 {
    background-image: url("/image/image-5.png");
    width: 357px;
    height: 357px;
}

.b-image3 {
    background-image: url("/image/image-6.png");
    width: 357px;
    height: 357px;
}
/* ---------main3------ */
.grey-container{
    width: 1092px;
    height: 207.6px;
    background-color: #404040;
    border-radius: 17px;
    margin-top: 110px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.grey-content{
    width: 1002px;
    height: 121.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right !important;
}
.g-search-section{
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}
.grey-text h2{
    font-family: peyda;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    
}
.search-box{
    background-color: #FFFFFF;
    width: 676px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius:  30px;
    padding: 0 20px;
}
.search-box span{
    text-align: center;
    color: #BBBBBB;
}
.search-icon{
    width: 17px;
    color: #404040;
}
.icon-box{
    width: 280px;
    display: flex;
    justify-content: space-around;
}
.icon-service{
    width: 48px;
    height: 48px;
    transition: 0.3s;
    background-color: #404040;
    border-radius: 50%;
}
.icon-service:hover{
    background-color: #0274be;
    border-radius: 50%;
}
/*******************footer*******************/

.karzar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    height: 60px;
    color: #FFFFFF;
}

.karzar div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.karzar a {
    margin-right: 20px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #1976D2;
    border-radius: 10px;
    padding: 3px 15px;
}