* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  scroll-behavior: smooth;
  direction: rtl;
  background-color: #f8f9fd;
  font-family: Vazir FD !important;
  min-width: 320px !important;
  overflow-x: hidden;
}

.jump:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}

header .navbar {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  width: 1010px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84px;
  position: relative;
}

@media (max-width: 768px) {
  header .navbar {
    width: 90%;
  }
}

header .navbar .logo {
  width: 115px;
  padding-bottom: 20px;
}

header .navbar .active {
  right: -5vw !important;
}

header .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 72%;
  margin-bottom: 20px;
}

header .navbar .menu .close {
  display: none;
  overflow: hidden;
}

@media (max-width: 768px) {
  header .navbar .menu .close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    color: #FFFFFF !important;
    height: 25px;
  }
}

header .navbar .menu .close:hover {
  cursor: pointer;
  background-color: #404040;
}

@media (max-width: 768px) {
  header .navbar .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -108vw;
    height: 100vh;
    position: absolute;
    background-color: #3979D9;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 0;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    width: 100vw;
    padding-top: 80px;
    z-index: 2;
  }
}

header .navbar .menu .menu-link {
  padding: 13px 15px;
  color: #404040;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  header .navbar .menu .menu-link {
    padding: 17px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
}

header .navbar .menu .menu-link:hover {
  color: #3979D9;
}

@media (max-width: 768px) {
  header .navbar .menu .menu-link:hover {
    color: #404040;
  }
}

header .navbar .btn {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

header .navbar .btn .download {
  background-color: #3979D9;
  border-radius: 100px;
  font-size: 14px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  height: 35px;
  width: 130px;
}

header .navbar .btn .download svg {
  margin-top: 5px;
}

header .navbar .btn .download .svg1 {
  margin-bottom: 5px;
}

header .navbar .btn .download .svg2 {
  display: none;
}

@media (max-width: 768px) {
  header .navbar .btn .download .svg2 {
    display: block !important;
    margin: 5px;
  }
}

@media (max-width: 768px) {
  header .navbar .btn .download {
    background-color: #FFFFFF;
    color: #3979D9;
    width: 150px;
    height: 45px;
    font-size: 17px;
    font-weight: 700;
  }
  header .navbar .btn .download .svg1 {
    display: none;
  }
}

header .navbar .btn .download p {
  padding-right: 10px;
}

header .navbar .btn .download svg {
  margin-top: 5px;
}

header .navbar .btn .download .svg2 {
  display: none;
}

@media (max-width: 768px) {
  header .navbar .btn {
    padding-top: 50px;
  }
}

header .navbar .burger {
  padding-bottom: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header .navbar .burger {
    display: block;
  }
}

header .navbar .burger div {
  width: 25px;
  height: 4px;
  margin: 5px;
  border-radius: 1px;
  background-color: #404040;
}

.tehran {
  background-image: url(../image/tehran.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
  margin-top: 84px;
  position: relative;
}

@media (max-width: 768px) {
  .tehran {
    background-image: url(../image/tehransmall.jpg);
  }
}

.tehran .go-down {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .tehran .go-down {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    bottom: 10px;
    right: 48%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .tehran .go-down img {
    width: 20px;
    height: 20px;
  }
}

.tehran .tehran-text {
  width: 71.5%;
  margin-left: auto;
  margin-right: auto;
}

.tehran .tehran-text .br {
  display: none;
}

@media (max-width: 768px) {
  .tehran .tehran-text .br {
    display: block;
  }
}

.tehran h1 {
  font-size: 44px;
  color: #262626;
  font-family: peyda;
  font-weight: 900;
  line-height: 48px;
  padding-top: 180px;
  padding-right: 70px;
}

@media (max-width: 768px) {
  .tehran h1 {
    font-size: 25px !important;
    line-height: 46px;
    padding: 65% 22% 0 0 !important;
  }
}

.m1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .m1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.m1 .m1-img {
  margin: 10px;
  width: 50%;
}

@media (max-width: 768px) {
  .m1 .m1-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.m1 .m1-img img {
  float: left;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .m1 .m1-img img {
    padding: 0;
    width: 62%;
    height: auto;
    padding-top: 40px;
  }
}

.m1 .m1-text {
  margin: 10px;
  width: 50%;
}

@media (max-width: 768px) {
  .m1 .m1-text {
    width: 98%;
    text-align: center;
  }
}

.m1 .m1-text h1 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 32px;
  font-weight: 800;
  font-family: peyda;
}

@media (max-width: 768px) {
  .m1 .m1-text h1 {
    font-size: 28px;
  }
}

.m1 .m1-text p {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .m1 .m1-text p {
    font-size: 14px;
  }
}

.m1 .m1-text .btn {
  background-color: #3979D9;
  border-radius: 100px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  height: 50px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .m1 .m1-text .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.m1 .m1-text .btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding-top: 5px;
}

.m1 .m1-text .btn a p {
  font-size: 16px;
  font-weight: bold;
}

.m1 .m1-btn {
  margin-top: 40px;
}

.main2 {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main2 h2 {
  font-family: peyda;
  font-weight: 900;
}

.main2 .blue-container {
  max-width: 1140px;
  background-color: #3979D9;
  border-radius: 20px;
  padding: 0 90px;
  position: relative;
  height: auto;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 50px 2vw;
      grid-template-areas: "pic1 text1" "text2 pic2" "pic3 text3";
}

@media (max-width: 768px) {
  .main2 .blue-container {
    margin-top: 150px;
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "pic1" "text1" "pic2" "text2" "pic3" "text3";
  }
}

.main2 .blue-container .b-item {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -90px auto 100px;
}

@media (max-width: 768px) {
  .main2 .blue-container .b-item {
    margin-bottom: 0;
  }
}

.main2 .b-images {
  width: 357px !important;
  height: 357px !important;
  border-radius: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .main2 .b-images {
    width: 90vw !important;
    height: 90vw !important;
    margin: -100px auto 0;
  }
}

.main2 .b-images h2 {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  font-family: peyda;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .main2 .b-images h2 {
    position: absolute;
    bottom: 20px;
    right: auto;
    left: auto;
  }
}

.main2 .b-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right !important;
}

@media (max-width: 768px) {
  .main2 .b-text {
    font-size: 15px !important;
    padding: 60px;
  }
}

.main2 .b-text h2 {
  font-family: peyda;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center !important;
}

.main2 .b-text p {
  color: #f8f9fd;
}

@media (max-width: 768px) {
  .main2 .b-text p {
    text-align: center;
    font-size: 15px !important;
  }
}

.main2 .b-text1 {
  grid-area: "text1";
}

@media (max-width: 768px) {
  .main2 .b-text1 {
    grid-area: "text1";
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main2 .b-text2 {
  grid-area: "text2";
}

@media (max-width: 768px) {
  .main2 .b-text2 {
    grid-area: "text2";
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.main2 .b-text3 {
  grid-area: "text3";
}

@media (max-width: 768px) {
  .main2 .b-text3 {
    grid-area: "text3";
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.main2 .b-image1 {
  background-image: url("../image/image-4.png");
  grid-area: "pic1";
}

@media (max-width: 768px) {
  .main2 .b-image1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    grid-area: "pic1";
  }
}

.main2 .b-image2 {
  background-image: url("../image/image-5.png");
  grid-area: "pic2";
}

@media (max-width: 768px) {
  .main2 .b-image2 {
    grid-area: "pic2";
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main2 .b-image3 {
  background-image: url("../image/image-6.png");
  grid-area: "pic3";
}

@media (max-width: 768px) {
  .main2 .b-image3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    grid-area: "pic3";
  }
}

.grey-container {
  width: 1092px;
  position: relative;
  max-width: 1092px;
  height: 207.6px;
  background-color: #404040;
  border-radius: 17px;
  margin: 110px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grey-container {
    max-width: 98%;
    margin: 110px  auto 50px;
  }
}

@media (max-width: 1140px) {
  .grey-container {
    max-width: 97%;
  }
}

.grey-content {
  width: 100%;
  height: 121.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right !important;
  padding: 0 50px;
}

.grey-content .g-search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .grey-content .g-search-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px;
    height: 140px;
  }
}

.grey-content .grey-text h2 {
  font-family: peyda;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2px;
}

@media (max-width: 768px) {
  .grey-content .grey-text h2 {
    font-size: 16px;
    text-align: center;
  }
}

.grey-content .search-box {
  background-color: #FFFFFF;
  width: 676px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 0 20px;
  margin: 2px 0 2px 5%;
}

@media (max-width: 768px) {
  .grey-content .search-box {
    max-width: 81%;
  }
}

.grey-content .search-box span {
  text-align: center;
  color: #BBBBBB;
}

@media (max-width: 768px) {
  .grey-content .search-box span {
    padding: 8px 0;
    overflow: hidden;
  }
}

.grey-content .search-box .search-icon {
  width: 17px;
  color: #404040;
}

.grey-content .icon-box {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .grey-content .icon-box {
    width: 100%;
    margin: 20px 10px;
  }
}

.grey-content .icon-box .icon-service {
  width: 48px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #404040;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .grey-content .icon-box .icon-service {
    width: 38px;
    height: 38px;
  }
}

.grey-content .icon-box .icon-service:hover {
  background-color: #3979D9;
  border-radius: 50%;
}

.icon-container:hover .pathh {
  fill: #3979D9 !important;
  stroke: #3979D9;
}

.pic-container {
  width: 1140px;
  max-width: 1140px;
  height: 178px;
  margin: 80px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17px;
}

@media (max-width: 768px) {
  .pic-container {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1140px) {
  .pic-container {
    max-width: 100%;
  }
}

.pic-container .txt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 8vw;
}

@media (max-width: 768px) {
  .pic-container .txt-btn {
    max-width: 100%;
    padding-left: 10vw;
  }
}

.pic-container .txt-btn h2 {
  font-family: peyda;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .pic-container .txt-btn h2 {
    font-size: 18px;
  }
}

.pic-container .txt-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #4E7FEA;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  fill: #000000;
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.pic-container .txt-btn .btn-arrow {
  color: #4E7FEA;
  width: 18px;
  margin-right: 15px;
}

.methods, .developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f4fb;
  border-radius: 16px;
}

.methods {
  width: 50%;
  height: 178px;
}

@media (max-width: 768px) {
  .methods {
    width: 100%;
    margin-bottom: 20px;
  }
}

.methods .hands {
  width: 123px;
  height: 134px;
}

.developers {
  width: 48%;
  height: 178px;
}

@media (max-width: 768px) {
  .developers {
    width: 100%;
  }
}

.developers .box {
  width: 133px;
  height: 135px;
}

.karzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 99;
  background-color: #222222;
  padding: 15px 10px;
  color: #FFFFFF;
}

.karzar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .karzar div {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .karzar p {
    font-size: 13px;
    max-width: 65%;
  }
}

.karzar a {
  margin-right: 20px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #3979D9;
  border-radius: 10px;
  padding: 3.5px 15px;
}

@media (max-width: 768px) {
  .karzar a {
    font-size: 13px;
    padding: 2.5px 7px;
  }
}

/*****************************************footer********************/
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    width: 100vw;
    font-size: 12px;
    margin-top: 30px;
    padding-right: 10px;
    overflow: hidden;
  }
}

.footer-container .f1 {
  padding-right: 10px;
  width: 25%;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .footer-container .f1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.footer-container .f1 li {
  list-style: none;
  padding: 6px 0px;
  color: #404040;
}

.footer-container .f2 {
  width: 25%;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .footer-container .f2 {
    width: 50%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
}

.footer-container .f2 li {
  list-style: none;
  padding: 6px 0px;
  color: #404040;
}

.footer-container .f3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 300px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .footer-container .f3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
    padding: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer-container .f3 .address {
  color: #404040;
}

@media (max-width: 768px) {
  .footer-container .f3 .address {
    width: 100vw;
    margin-top: 10px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .footer-container .f3 .f3-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: -40px;
  }
}

.footer-container .f3 .f3-2 {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .footer-container .f3 .f3-2 {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}

.footer-container .f3 .f3-3 {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-container .f3 .f3-3 {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}

.footer-container .f3 .telegram span, .footer-container .f3 .mail span {
  position: relative;
  top: 3px;
}

.footer-container .f4 {
  background-color: #EFF1FA;
  margin-right: 30px;
  border-radius: 15px;
  position: relative;
  width: 260px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .footer-container .f4 {
    width: 100%;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    width: 94%;
  }
}

.footer-container .f4 img {
  bottom: 65px;
  position: absolute;
  z-index: 134;
}

@media (max-width: 768px) {
  .footer-container .f4 img {
    left: 0;
    height: 80%;
    bottom: auto;
  }
}

.footer-container .f4 p {
  font-family: 'peyda';
  color: #4A529E;
  max-width: 165px;
  bottom: 8px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

@media (max-width: 768px) {
  .footer-container .f4 p {
    bottom: auto;
    left: 160px;
    font-weight: 900;
  }
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.footer-container h4 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.footer-container li:hover {
  color: #000;
  cursor: pointer;
}

.footer-p {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 500;
}

.footer-p span {
  color: #3979D9;
}

@media (max-width: 768px) {
  .footer-p {
    font-size: 8px;
  }
}

.footer-p span:hover {
  color: #404040;
  cursor: pointer;
}

/**************************font*****************/
@font-face {
  font-family: Vazir FD;
  font-weight: normal;
  src: url("../fonts/Vazir-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: bold;
  src: url("../fonts/Vazir-Bold-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 300;
  src: url("../fonts/") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 500;
  src: url("../fonts/Vazir-Medium-FD.woff2") format("woff2");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 900;
  src: url("../fonts/Vazir-Black-FD.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PeydaWeb-Black.woff2") format("woff2");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/PeydaWeb-Bold.woff2") format("woff2");
}
/*# sourceMappingURL=main.css.map */